/* home.css */
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8; 
}

.predict-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.predict-button:hover {
    background-color: rgb(24, 158, 185);
}
