{% load static %}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script>
        function checkCredentials() {
            var username = document.getElementsByName("uname")[0].value;
            var password = document.getElementsByName("pass1")[0].value;

            if (username === '' || password === '') {
                alert('Please enter both username and password');
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
    <div class='wrapper'>
        <div class='title'>
            Please Login Here
        </div>
        <form method="POST" action="{% url 'login' %}" onsubmit="return checkCredentials()">
            {% csrf_token %}
            <div class='field'>
                <input type='text' name="uname" placeholder="Username" required>
            </div>
            <div class='field'>
                <input type='password' name="pass1" placeholder="Password" required>
            </div>
            <div class='field'>
                <input type='submit' value='Login'>
            </div>
            <div class='signup-link'>
                Don't have an account? <a href="{% url 'registration' %}">Signup</a>
            </div>
        </form>
    </div>

    {% if messages %}
    <script>
        // Display messages using JavaScript alerts
        {% for message in messages %}
        alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
</body>
</html>
